<div id="todo-form" class="row form-horizontal"  ng-controller="MembersController">
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<form>
			<div class="form-group">
				<label for="inputEmail" class="control-label col-xs-2">Name</label>
				<div class="col-xs-10">
					<input type="text" class="form-control input-lg text-center" placeholder="name" ng-model="formData.name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="control-label col-xs-2">Gender</label>
				<div class="col-xs-10">
					<input type="text" class="form-control input-lg text-center" placeholder="gender" ng-model="formData.gender">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="control-label col-xs-2">Age</label>
				<div class="col-xs-10">
					<input type="text" class="form-control input-lg text-center" placeholder="Age" ng-model="formData.age">
				</div>
			</div>

			<button type="submit" class="btn btn-primary btn-lg" ng-click="createMember()">Create Member</button>

			<button type="submit" class="btn btn-primary btn-lg" ng-click="updateMember()">Update Member</button>
		</form>
	</div>

	</br>
	</br>	 
</div>


